<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<style type="text/css">
@import url("/static/css/findao.css");
/* test 完成后可以删掉下面一行 */
/*a, ul, li, ol, dl, dd, dt, img, table, input, select, textarea, p, h1, h2, h3, h4, h5, h6, form, div {border:1px dotted;}
*/
</style>
{% block js %}
{% endblock %}
</head>
<body>
<div class="main" >
{% block main %}
<div class="header" >
{% block header %}
<div class="findao" ><a href="/index/"><h2>凡道技术分享平台</h2></a>
<div class="findaourl" ><a href="/index/">www.findao.com</a></div>
</div>
{% endblock %}
<div class="user" >
{% block user %}
{% if user %}
<a href="/logout/">注销</a>
<a href="/dispuser/">{{user.username}}</a>
<!--<a class="changeuserinfo" href="/userinfo/" >修改个人信息</a>-->
{% else %}
<a href="/login/">登录</a>
<a href="/regist/">注册</a>
{% endif %}
{% endblock %}</div>
</div><hr />
{% block nav %}{% endblock %}

<div class="content" >
{% block content %}
{% block search %}{% endblock %}
{% block dispsearch %}{% endblock %}
<div class="disptitle" >
{% block disptitle %}{% endblock %}
</div>
<div class="dispcode" >
{% block dispcode %}{% endblock %}
</div>
{% endblock %}
</div>
{% endblock %}
<hr / class="footerhr" >
</div>

<div class="footer" >
{% block footer %}
<div class="footerinfo">
<p>如有任何好的意见和建议，请联系我们：<a href="/teaminfo/">凡道分享项目组</a> 
</p>
<p>
我们项目在<a href="https://github.com/dyw564/Findao.git">GitHub</a>开源地址：<a href="https://github.com/dyw564/Findao.git">https://github.com/dyw564/Findao.git</a>
</p>
</div>
{% endblock %}
</div>
</body>
</html>