<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div>
<div>
{% block main %}
<div>
{% block nav %}
<div><h4>欢迎来到凡道技术分享平台</h4></div>
{% endblock %}
<div  >{% block user %}{% endblock %}</div>

</div>

{% block content %}
{% block somethinf %}

{% endblock %}
    <div>{% block search %}{% endblock %}</div>
    {% block index %}
    
    <div>
      {% block titles %}{% endblock %}
    </div>
    <div>
      {% block codes %}{% endblock %}
    </div>
    <div></div>
{% endblock %}
{% endblock %}

{% block footer %}
<div>Findaoinfo</div>
{% endblock %}
{% endblock %}
</div></div>
</body>
</html>