{% extends "base.html" %}

{% block title %} 登录凡道平台{% endblock %}

{% block user %} 
{% if user %}
<a href="/dispuser/">{{user.username}}</a>
<a href="/logout/">注销</a>
{% else %}
<a href="/login/">登录</a>
<a href="/regist/">注册</a>
{% endif %}
{% endblock %}

{% block search %}
<div class="minsearchshare" >
<form method="post" >
  <input class="searchinput" type="text"  name="search" >
  <input class="searchbtn" type="submit" value="搜 索">
</form>
</div>
{% endblock %}

{% block dispsearch %}
<div class="dispshares" >
{% for share in shares %}
<div class="dispshare" >
<h4><a href="{{share.id}}">{{share.title}}</a></h4>
<p>{{share.codes}}</p>
</div>
{% endfor %}
</div>

{% endblock %}
