{% extends "base.html" %}
{% block title %} 登录凡道平台{% endblock %}
{% block user %} 

{% if user %}

<a href="/dispuser/">{{user.username}}</a>
<a href="/logout/">注销</a>
{% else %}
<a href="/login/">登录</a>
<a href="/regist/">注册</a>
{% endif %}

{% endblock %}

{% block search %}
<form method="post" >
  <input type="text"  name="search" >
  <button type="submit" >&nbsp;&nbsp;搜&nbsp;&nbsp;&nbsp;&nbsp;索&nbsp;&nbsp;</button>
</form>
{% endblock %}

{% block index %}
{% for share in shares %}
<div ><h4>{{share.title}}</h4></div>
{% endfor %}


{% endblock %}
