{% extends "base.html" %}

{% block title %} 登录凡道平台{% endblock %}
{% block content %}
{% block search %}
<div class="minsearchshare" >
<form method="post" >
  <input class="searchinput" type="text"  name="search" >
  <input class="searchbtn" type="submit" value="搜 索">
</form>
</div>
{% endblock %}

{% block dispsearch %}

<div class="dispshares" >

<div class="dispshare" >
<h3 class="sharetitles" ><a href="">{{share.title}}</a></h3>
<a class="shareedit" href="/createshare/" >编辑</a>
<a class="sharedel" href="/trashshare/" >删除</a>
<div class="whosetime" >
{{share.whose.username}} {{share.ctime}}
</div>
<div class="sharecodes" >
{% autoescape off %}
{{share.codes}}
{% endautoescape %}
</div>
</div>

</div>

{% endblock %}
{% endblock %}
