{% extends "base.html" %}
{% block title %} 凡道分享平台开发团队{% endblock %}
{% block content %}
<div class="developteam" >
<div class="teamname" >
<h3 class="teamh" >开发团队 ： 大兵瑞恩</h3>
<h4 class="teamh" >Develop Team : Private Ryan</h1>
<div class="teammember" >
<h4 class="teamh" >项目经理 ： 段永旺（<a href="/ryaninfo/">个人简历</a>）</h4>
<h5 class="teamh" >Project Manager : Ryan</h5>
<h4 class="teamh" >成员 ： 段永旺</h4>
<h5 class="teamh" >Member : Ryan</h5>
<h4 class="teamh" >邮箱 ： dyw564@gmail.com</h4>
<h5 class="teamh" >E-mail : dyw564@gmail.com</h5>
</div>
</div>
</div>
{% endblock %}