{% extends "base.html" %}
{% block title %} 欢迎来到凡道平台{% endblock %}

{% block codes %}

<h4>{{user.username}}</h4>
<dl>
  <dt>姓：</dt>  <dd>{{user.first_name}}</dd><hr />
  <dt>名：</dt>  <dd>{{user.last_name}}</dd><hr />
  <dt>出生日期：</dt>  <dd>{{userinfo.birthday}}</dd><hr />
  <dt>性别：</dt>  <dd>{{userinfo.gender}}</dd><hr />
  <dt>地址：</dt>  <dd>{{userinfo.address}}</dd><hr />
  <dt>邮箱：</dt>  <dd>{{user.email}}</dd><hr />
</dl>

<a href="/createuserinfo/" >修改</a>
<a href="/dispuser/">返回</a>
{% endblock %}